.button {
    min-width: 100%;
    max-width: 350px;
    color: #fff;
    background: #5970FF;
    border-radius: 5px;
    height: 59px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    justify-content: center;
    cursor: pointer;
}
.button a {
    color: #fff;
}
.button:hover {
    background: #5161ca;
}