h1 {
    text-transform: uppercase;
    font-family: 'Ferry';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.about_us {
    display: flex;
    padding: 0 60px;
}

.button {
    width: 350px;
    color: #fff;
    background: #5970FF;
    border-radius: 5px;
    height: 59px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 70px;
}

@media (max-width:1250px) {
    .about_us {
        padding: 0 40px;
    }
}

@media (max-width:1150px) {
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width:1060px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width:970px) {
    .about_us {
        flex-direction: column;

    }

    h1 {
        line-height: 72px;
        line-height: 40px;
    }
}

@media (max-width:570px) {
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
}

.whywe {
    margin: 110px 0px;

}

h2 {
    font-family: 'Ferry';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.01em;
    margin: 0 60px;
    text-transform: uppercase;
}

.slider_container {
    display: flex;
    justify-content: space-between;
    margin: 70px 60px;
    align-items: center;
}

.slider_item {
    width: 400px;
    height: 225px;
    left: 94px;
    top: 970px;
    padding: 22px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.slider_item p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.arrow {
    height: 39px;
    width: 39px;
    cursor: pointer;
}

.arrow:first-child {
    transform: rotate(180deg);
}

.larry {
    margin: 0 60px;
}

@media (max-width:660px) {
    .larry img {
        width: 1000px;
    }

    .larry {
        margin: 0 50px;
    }
}

@media (max-width:560px) {
    .larry img {
        width: 850px;
    }

    .larry {
        margin: 0 40px;
    }

    .slider_item:last-child {
        display: none;
    }
}

@media (max-width:460px) {
    .larry img {
        width: 750px;
    }

    .larry {
        margin: 0 14px;
    }
}

@media (max-width:1460px) {
    .slider_item {
        width: 350px;
    }
}

@media (max-width:1320px) {
    .slider_item {
        width: 300px;
    }
}

.rates {
    margin: 110px 0px;
}

.rate_block {
    margin: 70px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rate_item {
    width: 415px;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;

}


.rate_item:first-child {
    border: 2px solid #FFB64F;
}

.card_head {
    width: 415px;
    height: 132px;
    background: #7CE3E1;
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
    position: relative;
}

.card_head img {
    position: absolute;
    top: 11px;
    right: 5px;
}

.second_card img {
    top: 0;
    right: 0;
}

.first_card {
    background: #FFB64F;
    width: 413px;
}

.third_card {
    background: #000000;
}

h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.01em;
}

.third_card h3 {
    color: #fff;

}

.card_head p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.third_card p {
    color: #fff;
}

.current {
    background: #3BA5E0;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    height: 24px;
    width: 34%;
    position: absolute;
    top: 144px;
    right: 10px;
    text-align: center;
    vertical-align: middle;
}

.info_rate {
    padding: 30px 15px 24px 30px;
}

.price {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.01em;

}

.old_price {
    margin-left: 19px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    opacity: 0.5;
}

.info_rate p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.list_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.list {
    list-style-image: url("./../UI/main_imgs/icon.png");
    padding-left: 30px;
}

.more {
    margin-top: 55px;
    width: 355px;
    height: 59px;
    background: #5970FF;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #fff;
}

.more:hover {
    border: 2px solid #30b046;
    text-decoration: underline #30b046;
}

.active_rate {
    background: #D2D2D2;
    color: #000;
}