@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}
@font-face {
  font-family: 'Ferry';
  src: url(./fonts/2717-font.otf);
}