* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  border: none;
}
@font-face {
  font-family: 'Ferry';
  src: url(/src/components/UI/fonts/2717-font.otf);
}